.heroContainer {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(126, 255, 250, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 50px 50px 10px;
}

#h1Header {
  text-align: center;
  padding: 10px;
  font-size: 45px;
  color: orange;
}

.pSentences {
  text-align: center;
  color: black
}

.contactButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px 10px;
}

.contactButton {
  color: white;
  background-color: #007bff;
  padding: 8px;
  border-radius: 5px;
}

.heroCardContainer {
  display: flex;
  padding: 10px 10px 30px;
  justify-content: space-around;

  .heroCard {
    width: 445px;
    height: 600px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid orange;
    box-shadow: 12px 6px 2px 1px grey;
    background-color: white;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#pcTiers {
  text-align: center;
  font-size: 25px;
}

#specs {
  text-align: center;
  border-bottom: solid;
  font-size: 18px;
}

#cpuList,
#hddList,
#ramList,
#msrpList {
  display: flex;
  justify-content: space-between;
}

#cpuList,
#hddList,
#ramList {
  border-bottom: dotted;
  padding: 5px;
  font-size: 18px;
}

#msrpList {
  font-size: 25px;
  border-top-width: thick;
  padding: 300px 5px 5px;
}

.bioContainer {
  padding: 60px 300px 60px;
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
}
