.navbarContainer {
  background-color: darkorange;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 8px;
}

.navbarList {
  display: flex;
  list-style: none;
}

.corporationName {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 25px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 45px;
}
